* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: whitesmoke;
}

.container {
  width: 100%;
  height: 90%;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

p,
a {
  font-family: "Times New Roman", Times, serif;
  font-size: 12px;
  line-height: 1.5rem;
  text-decoration: none;
  color: #333;
}

h2 {
  font-family: "Lobster", cursive;
  font-size: 20px;
  width: 100%;
  background: white;
}

section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  background-color: whitesmoke;
}

.sectionHeading {
  text-align: center;
  font-family: "Lobster", cursive;
  font-size: 40px;
  margin-bottom: 20px;
  color: #003b6f;
}

input {
  border: 1px solid #003b6f;
  border-radius: 10px;
  color: #003b6f;
  width: 90%;
  height: 30px;
  padding-left: 10px;
  background: white;
  opacity: 0.9;
}

input:focus,
input:focus {
  outline: none;
  border: 1px solid #333;
}

#recipeButton {
  cursor: pointer;
  width: 5%;
  height: 30px;
  border: none;
  background: none;
  font-size: 20px;
  color: #003b6f;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.items {
  width: 100%;
  background: white;
  padding: 5px;
  overflow: hidden;
}

.items img {
    width: 100%;
    height: 200px;
}

.searchResult {
    margin-top: 50px;
    width: 100%;
    display: grid;
    grid-gap: 25px;
    grid-template: auto / repeat(auto-fit, minmax(200px, 1fr));
}

.resultsDisplay {
    width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
}

.viewLink {
    font-family: "Bebas Neue";
    letter-spacing: 1px;
    background: #003b6f;
    color: whitesmoke;
    padding: 5px;
    text-align: right;
    width: 90px;
    align-self: flex-start;
}

.itemInfo {
    background: white;
}